<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./css/swiper.min.css")
    link(rel="stylesheet", href="./css/style.min.css")
    link(rel="stylesheet", href="./css/css/animate.min.css")
  body
    .wrap
      header.header
      section.content
      footer.footer
    img(src="./img/header_index.jpg", alt="")
    script(src="./js/swiper.min.js")
    script(src="./js/wow.min.js")
    script(src="./js/jquery-3.4.1.min.js")
    script(src="./js/jquery.validate.min.js")
    script(src="./js/jquery.mask.min.js")
    script(src="./js/main.js")

